// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: hsl(171, 100%, 41%);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$grey-light:hsl(0, 0%, 99%);
$grey-light-invert: findColorInvert($grey-light);

$psico: #00d1b2;

$psico: #694F5D;
$psico-invert: findColorInvert($psico);
$psico1: #00d1b2;
$psico1-invert: findColorInvert($psico1);
$psico2: #BFD3C1;
$psico2-invert: findColorInvert($psico2);
$psicoRosa: #FFE5D4;
$psicoRosa-invert: findColorInvert($psicoRosa);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "grey-light": ($grey-light, $grey-light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "psico": ($psico, $psico-invert),
    "psico1": ($psico1, $psico1-invert),
    "psico2": ($psico2, $psico2-invert),
    "psicoRosa": ($psicoRosa, $psicoRosa-invert)
);


$dimensions: 16 24 32 48 64 96 128 256 !default;

.center {
    display: flex;
    justify-content: center;
}


// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "../node_modules/bulma";
@import "../node_modules/buefy/src/scss/buefy";

p {
    font-size: 1.1em;
  &::selection {
    color: $psico-invert;
    background-color: $psico;
  }
}
